@using FoodAdvisor.ViewModels.CommentViewModel;
@model AddCommentViewModel

@{
	ViewBag.Title = "Add Comment";
}
<form asp-action="Add" method="post">
	
	<div class="form-group">
		<label asp-for="@Model.Message" class="form-label-add-edit">Comment:</label>
		<input asp-for="@Model.Message" class="form-control" placeholder="Add your comment" aria-required="true" />
		<span asp-validation-for="@Model.Message" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<input class="btn btn btn-success  mb-2 w-100 py-3 fw-bold rounded" type="submit" value="Save" />
	</div>
</form>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

