@{
    ViewBag.Title = "500 - Oops! Something Burnt in the Kitchen";
}
<link rel="stylesheet" href=~/css/ErrorPages/errorpages-styles.css>

<body class="error-500">
    <div>
        <div class="chef-hat">👨‍🍳</div>
        <h1>500 - Oops! Something Burnt in the Kitchen</h1>
        <p>Looks like we overcooked something on the server side.</p>
        <img class="burnt-toast" src="https://cdn-icons-png.flaticon.com/512/1085/1085021.png" alt="Burnt toast">
        <p>Don't worry, we're fixing it as fast as we can!</p>
         <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Take me back Home 🍳</a>
    </div>
</body>