@{
	ViewBag.Title = "404-Spilled the Soup!";
}
<link rel="stylesheet" href=~/css/ErrorPages/errorpages-styles.css>
    
<body class="error-404">
    <div>
        <div class="spilled-soup">🍲</div>
        <h1>404 - Recipe Not Found</h1>
        <p>Hmm, the content you’re looking for isn’t on the menu right now.</p>
        <img class="spilled-soup" src="https://cdn-icons-png.flaticon.com/512/1995/1995521.png" alt="Spilled soup">
        <p>But don't worry, we've got plenty more tasty ideas waiting for you!</p>
        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Take me back Home 🍰</a>
    </div>
</body>
